
.services-header{
    height: 60vh;
    position: relative;
    background-image: url(../backgrounds/servesies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.services-header::before{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: #00000099;
    z-index: 1;
}

.services-header .header-content{
    position: relative;
    z-index: 2;
}