
.login-fa{
    height: 100vh;
    /* background-image: linear-gradient(60deg,#3c40c6 ,#ff5e57); */
    background-image: linear-gradient(45deg,#c2c2c2 ,#02269b);
}

.login-cont{
    background: #d2dae299;
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#chBox{
    border: 1px solid;
}

form p{
    margin: 0;
}