*{
  padding: 0;
  margin: 0;
}

html{
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  width: 100vw;
}

.row{
  padding: 0;
  margin: 0!important;
}

button{
  margin: 20px;
  padding: 10px 20px;
  border: 1px solid;
  background: none;
}

p{
  color: #9b9797;
}

button:hover{
  background: #7731FF;
  color: #fff;
  transition: all .2s ease-in-out;
}




/* dashboard */


.dashboard{
  margin-left: 150px;
}

.thead-set{
  background-color: #7731FF!important;
  color: #fff;
}

.dash{
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
}

.dash-danger:hover{
  background: #eb2f06;
}
.dash-success:hover{
  background: #46be60;
}

.dash-primary{
  color: #000;
}

.dash-primary:hover{
  background: #7731FF;
  color: #fff;
  text-decoration: none;
}


/* alert button  */
.alert-button{
  padding: 5px ;
}


/* form */

form{
  border: 1px solid #aaa;
  padding: 20px;

}

.form-field ,.form-submit{
  padding: 10px;
  border: 1px solid #ccc;
  outline-color: #7731FF;
}

.form-submit{
  background: none;
  padding: 10px 20px;
}

.form-submit:hover{
  background: #7731FF!important;
  color: #fff;
}

form .row p{
  color: #eb2f06;
}

::-webkit-file-upload-button{
  background: #7731FF;
  padding: 10px;
  border: none;
  color: #fff;
}

::-webkit-file-upload-button:hover{
  background: #6127d4;
}

label::selection{
  background: none;
}



/* log out button */
.LogOutBtn{
  position: fixed;
  z-index: 100;
  top: calc(100% - 50px);
  left: 10px;
}
.LogOutBtn button{
  padding: 5px 10px;
  border: 1px solid #aaa;
}